@model IEnumerable<Fangorn.Models.TicketViewModels.Ticket>
@{
    ViewData["Title"] = "view";
    DateTime.Now.ToString("dd-MM-yyyy");
}


<div id="dataContainer">
    <h2>Tickets</h2>

    <div>


        <form asp-action="Create" method="get">
            <button type="submit">New Ticket</button>
        </form>
        <table id="tableTickets" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CloseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Creator.UserName)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
             @foreach (var item in Model)
             {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CloseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creator.UserName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
             }
            </tbody>
        </table>
        <form asp-action="Create" method="get">
            <button type="submit">New Ticket</button>
        </form>
    </div>

</div>

<!--<div id="modal-container" update class="modal fade hidden-print" tabindex="-1" role="dialog">


    <div class="modal-dialog modal-large">
        <div class="modal-content">

        </div>
    </div>
</div>
<!--Create an pagination property on particular tickets-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/ticket.js"></script>
