@model IEnumerable<Fangorn.Models.TicketViewModels.Ticket>
@{
    ViewData["Title"] = "view";
    DateTime.Now.ToString("dd-MM-yyyy");
}

@section Styles {
    <link href="~/css/ticket.css" rel="stylesheet" type="text/css"/>
}

<h2>Tickets</h2>
<form asp-controller="Ticket" asp-action="Index">
    
        <input type="text" name="search">
        <input type="submit" value="Search"/>
        <span class="glyphicon glyphicon-search" aria-hidden="true" ></span>
        <a asp-action="Index" style="padding-left:15px;">Reset</a>

</form>






<div id="dataContainer">
   

    <div class="ticket-grid">


        <form asp-action="CreateTicket" method="get">
            <button type="submit">New Ticket</button>
        </form>
        <table id="tableTickets" class="table table-hover table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="col-md-2">
                        
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.AssignedTo)
                    </th>
                    <th>
                        Watch
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>

            <tbody>
             @foreach (var item in Model)
             {
                <tr>
                    <td>
                        
                        <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedTo.Email)
                    </td>
                    <td>

                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
             }
            </tbody>
        </table>
        <form asp-action="CreateTicket" method="get">
            <button type="submit">New Ticket</button>
        </form>
    </div>

</div>

<!--<div id="modal-container" update class="modal fade hidden-print" tabindex="-1" role="dialog">


    <div class="modal-dialog modal-large">
        <div class="modal-content">

        </div>
    </div>
</div>
<!--Create an pagination property on particular tickets-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>

