@model Tower.Models.ProjectViewModels.ProjectDetails

@{
    ViewData["Title"] = "DetailsProjectView";
}

<h2>DetailsProjectView</h2>

<div>
    <h4>ProjectDetails</h4>
    <hr />
    <dl class="dl">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        
    </dl>
    <table class="table table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th class="col-md-2">

                    @Html.DisplayNameFor(model => model.Tasks[0].Id)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Tasks[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks[0].Status)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Tasks[0].Priority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks[0].StoryPoints)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks[0].Complexity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks[0].CompletionPercentage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks[0].Completed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks[0].CompletedBy)
                </th>
            </tr>
        </thead>

        <tbody>
            
        </tbody>

    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
