@model Tower.Models.ServiceOrderViewModels.ServiceOrderCommentsViewModel
<h2>Service Order</h2>

<br />
<form asp-controller="ServiceOrder" asp-action="createComment" asp-route-id="@Model.ServiceOrder.Id">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ServiceOrder.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServiceOrder.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ServiceOrder.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServiceOrder.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ServiceOrder.Client)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServiceOrder.Client.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ServiceOrder.CreateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServiceOrder.CreateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ServiceOrder.DueDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServiceOrder.DueDate)
            </dd>
            @if (Model.ServiceOrder.IsClosed)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.ServiceOrder.CloseDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ServiceOrder.CloseDate)
                </dd>
            }

            <dt>
                @Html.DisplayNameFor(model => model.ServiceOrder.Creator)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServiceOrder.Creator.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ServiceOrder.AssignedTo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServiceOrder.AssignedTo.Email)
            </dd>
        </dl>

    </div>
    <hr />
    <div class="dl-horizontal">
        <h4>Billed Cost</h4>

        Total Cost:  @Html.DisplayFor(Model => Model.BillableCost)
        <div>
            <a asp-action="SeeBillableTimes" asp-route-id="@Model.ServiceOrder.Id">Billable Times</a>
        </div>

        <hr />
    </div>
    <div class="form-horizontal">
        <h4>New Comment</h4>
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <div class="col-md-10">
                Comment<textarea asp-for="Comment.Content" rows="10" cols="10" class="form-control"></textarea>
                <span asp-validation-for="Comment.Content" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Comment" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@if (Model.Comments == null)
{
    <span>No Comments</span>
}

else

{
    <table class="table table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.Comment.Commentor)


                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment.Date)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Commentor.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }


        </tbody>
    </table>


}


<div>
    <a asp-action="Index">Back to Service Orders</a>
</div>