@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model Tower.Models.HomeViewModels.DashboardHomePageViewModel

@if (SignInManager.IsSignedIn(User))
{
    <script src="~/lib/chart.js/2.6.0/content/Scripts/Chart.js"></script>
    <h2>Dashboard</h2>
    <hr />
    <h4>Service Orders</h4>
    <div class="graph">
        
        <canvas id="Chart1" width="400" height="400"></canvas>
    
        <script type="text/javascript">
            var monthOne = @Model.RecentServiceOrders[5];
            var monthtwo = @Model.RecentServiceOrders[4];
            var monthThree = @Model.RecentServiceOrders[3];
            var monthFour = @Model.RecentServiceOrders[2];
            var monthFive = @Model.RecentServiceOrders[1];
            var monthSix = @Model.RecentServiceOrders[0];
            var ctx = document.getElementById("Chart1").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [
                        
                        "@DateTime.Now.AddMonths(-5).ToString("MMM")",
                        "@DateTime.Now.AddMonths(-4).ToString("MMM")",
                        "@DateTime.Now.AddMonths(-3).ToString("MMM")",
                        "@DateTime.Now.AddMonths(-2).ToString("MMM")",
                        "@DateTime.Now.AddMonths(-1).ToString("MMM")",
                        "@DateTime.Now.ToString("MMM")",],
                    datasets: [{
                        label: 'Service Orders By Month',
                        data: [monthOne, monthtwo, monthThree, monthFour, monthFive, monthSix],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function (value) { if (value % 1 === 0) { return value; } }
                            }
                        }]
                    }

                }
            });
        </script>
    </div>
}

@section Styles {
<link rel="stylesheet" href="~/css/dashboard.css" />
}