@model Tower.Models.ClientViewModels.DetailsClient

@{
    ViewData["Title"] = "ClientDetailView";
}

<h2>Client</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MainContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MainContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Apartment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Apartment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
     
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Zip)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
