@model Fangorn.Models.ClientsViewModels.ListClients

@{
    ViewData["Title"] = "ClientListView";
}

<h2>Clients</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
           
        </tr>    
    </thead>
</table>
<table class="table">
    <thead>
        
    </thead>
    <tbody>
        @foreach (var item in Model.Clients)
        {
        <td>
            @item.Id
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Email
        </td>
        <td>@item.Phone</td>
        <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
        
        }
    </tbody>
</table>
