@model Tower.Models.ClientsViewModels.ListClients

@{
    ViewData["Title"] = "ClientListView";
}

<h2>Clients</h2>
<form asp-controller="Clients" asp-action="IndexSearch">

    <input type="text" name="search">
    <input type="submit" value="Search" />
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <a asp-action="Index" style="padding-left:15px;">Reset</a>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table-overflow">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>

                <th>
                    Email
                </th>

                <th>
                    Phone
                </th>
                <th>
                    Address
                </th>
                <th>
                    Main Contact
                </th>

                <th>
                    Options
                </th>




            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.Clients)
            {
                <tr>

                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>

                        @if (item.Address != null)
                {
                            @item.Address.Street
                            if (item.Address.Apartment != null)
                            {

                                <text>&nbsp;</text>
                                <text>Apt. </text>
                                @item.Address.Apartment

                            }

                            <br />
                            @item.Address.City
                            <text>&nbsp;</text>
                            @item.Address.State


                            <br />
                            @item.Address.Zip


                        }

                        else
                        {


                        }


                    </td>
                    <td>
                        @item.MainContact
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    </td>

                </tr>
            }


        </tbody>
    </table>
    </div>